body {
    margin: 0px;
}

.nav {
    background-color:transparent;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 0;
    width: 100%;
    z-index: 4;
  }
  
  .nav a {
    float: right;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: lightgray;
    color: black;
  }
  
  .nav a.active {
    background-color: rgba(55,123,250,1);
    color: white;
  }

.hero-section {
    display: flex;
    align-items: center;
    position: relative;
    height: 600px;
    padding: 0px 75px;
    background: linear-gradient(90deg, rgba(6,86,234,1) 0%, rgba(55,123,250,1) 25%, rgba(213,109,227,1) 50%, rgba(255,110,178,1) 75%, rgba(255,147,127,1) 100%);
    color: #FFF;
    text-shadow: 0px 3px 5px #00000040;
}

.info-row {
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
    z-index: 3;
}

.info-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

#info-column-img {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.banner-img {
    width: 350px;
}

.overlay {
    position: absolute;
    z-index: 2;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 300px;
    width: 100%;
    background-image: url("layered-waves.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.services-section {
    display: flex;
    flex-direction: column;
}

.service-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 700px;
    background-image: url("blob-scene.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    padding: 0px 200px;
    flex-wrap: wrap-reverse;
}

#first-service-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 700px;
    background-image: url("half-blob-scene.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    padding: 0px 200px;
    flex-wrap: wrap-reverse;
}

.service-row-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 24px;
}

.service-description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.service-img {
    width: 300px;
    max-height: 380px;
}


#flipped-service-row {
    transform: scaleY(-1);
}

.flipped-service-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 24px;
    transform: scaleY(-1);
}

.flipped-service-description {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    transform: scaleY(-1);
}

.footer {
    height: 80px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.footer a:hover {
    color: rgba(6,86,234,1);
}


.bio {
    height: 750px;
    display: flex;
    padding: 100px 75px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-image: url("wave-scene.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}

.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 3px 5px #00000040;
    background-image: url("jlesson.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.profile-name, .profile-title {
    text-align: center;
}

.profile-title {
    margin: 0px;
}

.profile-bio {
    max-width: 600px;
}

.skills {
    background-color:rgba(55,123,250,1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 100px 75px;
    color: #FFF;
    text-align: left;
}

.skills li {
    font-size: 28px;
    margin-bottom: 24px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info-row {
    display: flex;
    justify-content: flex-start;
}

.heading {
    font-size: 35px;
}

#profile-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .hero-section {
        display: flex;
        align-items: center;
        position: relative;
        height: 600px;
        padding: 0px 24px;
        background: linear-gradient(90deg, rgba(6,86,234,1) 0%, rgba(55,123,250,1) 25%, rgba(213,109,227,1) 50%, rgba(255,110,178,1) 75%, rgba(255,147,127,1) 100%);
    }
    .skills {
        background-color:rgba(55,123,250,1);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 100px 24px;
        color: #FFF;
        text-align: left;
    }
    .info-column {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .banner-img {
        display: none;
    }
    .service-row {
        height: 800px;
        padding: 0px 24px;
    }
    #first-service-row {
        height: 800px;
        padding: 0px 24px;
    }
    #info-column-img {
        display: none;
    }
    .profile-bio {
        max-width: none;
        width: 300px;
        margin: 0px 24px;
        text-align: left;
    }
}